.tableContainer {
    width: 100%;
    .tableCard {
        width: 100%;
        .tableHeader {
            margin-bottom: 16px;
            display: flex;
            justify-content: space-between;
        }
    }
}
